/*************GENERAL*************/
window {
    background: linear-gradient(0deg, #E7C9AD, #FCFAE4, #FCFAE4, #FCFAE4);
}

headerbar {
    background: #FCFAE4;
    color: #333;
    border: none;
}

headerbar button {
    background: #FAA158;
    border: none;
    color: #FFF;
    text-shadow: none;
    text-decoration: none;
}

/*************BUTTON*************/
button {
    box-shadow: none;
    text-shadow: none;
}

#button_light {
    background: #E7C9AD;
    border: none;
}

#button_blue {
  background: #5A7ABF;
  color: #FFF;
}

#button_info:focus {
  background: #23BBB1;
}

#button_red {
  background: #BF5A8E;
  color: #FFF;
}

#button_red:focus {
  background: #C85465;
}

/*************ALERT*************/
#alert_normal {
  padding: 10px;
  border: none;
}

/*************ITEM*************/
#todo_item_normal {
  background: #B7C05B;
  color: #FFF;
  border: none;
  border-radius: 4px;
}

#todo_item_done {
  background: linear-gradient(-10deg, #FADFDB, #FBEBE1);
  color: #A8B4D3;
  border: none;
  border-radius: 3px;
}

#todo_item_important {
  background: linear-gradient(-10deg, #F16B4C, #F88267);
  color: #FFF;
  border: none;
  border-radius: 3px;
}

/*************INPUT*************/
#title, #title:focus, #title:hover {
    box-shadow: none;
    border: none;
    border-style: none;
    padding: 10px;
    font-size: 25px;
    border-radius: 4px 4px 0 0;
}

#description {
    padding: 10px;
    padding-top: 0;
    border-radius: 0 0 4px 4px;
}

#new_data {
  border: none;
  background: #FFF;
  border-radius: 4px 4px 4px 4px;
}

/*************LABEL*************/
#is_done_label {
    color: #333;
}

#is_important_label {
    color: #333;
}
